langchain-community 
langchain-experimental 
langchain-openai 
neo4j 
graphdatascience 
tiktoken 
retry
ipykernel
langchain_google_genai
json-repair
seaborn
pymupdf
langgraph 
fastapi
uvicorn
faiss-cpu
neo4j-graphrag[qdrant]
langchain-qdrant
fastembed